name: Doc Site

on:
  release:
    # Only build docs when a new release is created, so the API docs don't get out of date.
    types: [ published ]
  push:
    branches:
      # Build the branch that introduced this config, for testing.
      - zachklipp/mkdocs

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install dependencies
        run: pip install mkdocs-material
      - name: Generate docs
        run: ./gen_docs.sh
      - run: mkdocs gh-deploy --force
